pip
wheel
bumpversion
watchdog
flake8
cryptography
PyYAML

## Package
-r requirements.txt

## Testing
tox
pytest
coverage
pytest-cov
hypothesis


## Documentation
sphinx
sphinx_rtd_theme
sphinxcontrib-napoleon
ghp-import
